body {
    background: linear-gradient(90deg, #A198FF 0%, #E6CDEB 0.13%);
    background-image: url(./images/background.png);
    background-size: cover;
}

main {
    margin: 90px 300px;
}

.upper_area {
    background-image: url(./images/instruction_image.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-top: 140px;
    padding-bottom: 300px;
}

.title {
    margin-left: 100px;
}

.title h1 {
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.procedure {
    margin-top: 50px;
    margin-left: 100px;
    counter-reset: section;
}

.procedure h2::before {
    counter-increment: section;
    content: counter(section) ". ";
}

.procedure h2 {
    margin-top: 30px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.bottom_area {
    background-color: #FFFFFF;
    padding-top: 60px;
}

.form_area {

}

.form_area form {
    text-align: center;
}

.form_area form input {
    border: none;
    border-bottom: 1px solid #595666;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 285px;
}

::placeholder {
    color: #7F7C91;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}