.article_area {
    width: 60%;
    border: solid 2px #FFCC00;
    box-shadow: 0 0 10px #FFCC66;
    margin: auto;
    border-radius: 35px;
}

.title_area {
    text-align: center;
    margin-top: 50px;
}

.title_area h1 {
    color: #FFCC00;
    text-shadow: 0 0 15px #FFCC33;
    font-family: TypeMachine;
}

.cover_picture_area {
    margin-top: 50px;
}

.cover_picture_area img {
    width: 806px;
}

nav {
    margin-top: 40px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    text-align: center;
    width: fit-content;
    color: white;
    background-color: #FFCC00;
    border-left: #FFFF33 1px solid;
    border-right: #FFFF33 1px solid;
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: TypeMachine;
}

.fill_space_left {
    margin-left: -40px;
}


.item_area {
    margin-top: 50px;
    margin-left: 60px;
}

.item_area h1 {
    border-top: black 1px solid;
    font-family: Mabook;
    color: black;
    text-shadow: 0 0 10px #FFCC66;
    width: fit-content;
    font-size: 60px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

@font-face {
    font-family: FuturaHandwritten;
    src: url(./assets/FuturaHandwritten.ttf);
}

@font-face {
    font-family: Mabook;
    src: url(./assets/Mabook.ttf);
}

@font-face {
    font-family: TypeMachine;
    src: url(./assets/TypeMachine.ttf);
}