body {
    margin-bottom: 90px;
    background-image: url(./images/triangle.png), url(./images/circle.png);
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
}

main {
    display: flex;
    margin: auto; 
    max-width: 95%;  
    margin-top: 90px;
}

.left_side {
    padding-top: 290px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 270px;
    max-width: 37%; 
    background: linear-gradient(180deg, #4B8B7E 0%, #62B594 43.23%, #60B199 100%);
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
}

.left_title_area {
    text-align: center;
}

.left_title_area h1 {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
    letter-spacing: 0.04em;
    white-space: nowrap;
}

.left_explain_area {
    text-align: center;
    margin-top: 30px;
}

.left_explain_area p {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 22px;
    line-height: 153.19%;
    letter-spacing: 0.02em;
    white-space: nowrap;
}

.left_button_area {
    margin: auto;
    margin-top: 60px;
    text-align: center;
    /* border: 2px solid #FFFFFF;
    border-radius: 34px;
    max-width: 260px; */
}

.left_button_area button {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    border: 2px solid #FFFFFF;
    border-radius: 34px;
    width: 260px;
    background-color: transparent;
    padding-top: 25px;
    padding-bottom: 25px;
}

.right_side {
    background-color: #FFFFFF;
    padding-top: 130px;
    padding-left: 150px;
    padding-right: 150px;
    max-width: 67%;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
}

.right_title_area {
    text-align: center;
}

.right_title_area h1 {
    color: #619891;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.05em;
    white-space: nowrap;
}

.right_icon_area {
    margin-top: 33px;
}

.right_icon_area ul {
    display: flex;
    justify-content: center;
    gap: 14px;
    list-style: none;
}

.right_icon_area li {
    border: 1px solid #E0E0E1;
    border-radius: 60px;
    width: 62px;
    height: 62px;
    display: flex;
}

.right_icon_area i {
    margin: auto;
}

.right_explain_area {
    margin-top: 53px;
    text-align: center;
}

.right_explain_area p {
    color: #C9C9CB;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
}

input.font-awesome {
    font-family: FontAwesome;
}

.right_form_area {
    text-align: center;
    margin-top: 26px;
}

.right_form_area form input {
    background: #F8F9FB;
    border-radius: 2px;
    padding: 20px 200px 20px 10px;
    margin-top: 15px;
    border: none;
}

::placeholder {
    color: #CCCCCC;
}

.right_button_area {
    margin: auto;
    margin-top: 33px;
    text-align: center;
    /* background-color: #5FADA1;
    border-radius: 118px;
    max-width: 280px; */
}

.right_button_area button {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.14em;
    background-color: #5FADA1;
    border-radius: 118px;
    width: 280px;
}