header {
    display: flex;
    align-items: center;
    gap: 120px;
}

.items_area {
    margin-top: 34px;
    margin-left: 44px;
}

.items_area ul {
    list-style: none;
    
}

.items_area li {
    display: inline;
    margin-right: 60px;
    font-family: 'Bodoni 72';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
}

.title_area {
    margin-top: 20px;
}

.title_area h1 {
    white-space: nowrap;
    font-family: 'Bodoni 72';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.title_image_area {
    margin-top: 32px;
}

.title_image_area img {
    max-width: 100%;
    height: auto;
}