header {
    display: flex;
    align-items: center;
    gap: 120px;
}

.items_area {
    margin-top: 34px;
    margin-left: 44px;
}

.items_area ul {
    list-style: none;
    
}

.items_area li {
    display: inline;
    margin-right: 60px;
    font-family: 'Bodoni 72';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
}

.title_area {
    margin-top: 20px;
}

.title_area h1 {
    white-space: nowrap;
    font-family: 'Bodoni 72';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.title_image_area {
    margin-top: 32px;
}

.title_image_area img {
    max-width: 100%;
    height: auto;
}

.watch {
    position: relative;
}

.watch_image_area {
    margin-top: 190px;
    margin-left: 26px;
}

.watch_title_area {
    position: absolute;
    left: 724px;
    top: 50px;
}

.watch_title_area h2 {
    color: #6C472D;
    text-decoration: underline;
    font-family: 'Bodoni 72';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.watch_explain_area {
    position: absolute;
    left: 724px;
    top: 150px;
    max-width: 550px;
}

.watch_explain_area p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
}

.history {
    position: relative;
}

.history_title_area {
    margin-top: 420px;
    margin-left: 88px;
}

.history_title_area h2 {
    color: #6C472D;
    text-decoration: underline;
    font-family: 'Bodoni 72';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.history_explain_area {
    margin: 41px;
    margin-left: 92px;
    max-width: 490px;
}

.history_explain_area p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
}

.history_image_area {
    position: absolute;
    top: -300px;
    left: 703px;
}

.timeLive {
}

.timeLive_title_area {
    margin-top: 420px;
    text-align: center;
}

.timeLive_title_area h2 {
    color: #6C472D;
    text-decoration: underline;
    font-family: 'Bodoni 72';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.timeLive_explain_area {
    max-width: 1260px;
    margin: 42px auto; 
}

.timeLive_explain_area p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
}

.timeLive_iframe_area {
    margin-top: 52px;
    text-align: center;
}

.timeLive_iframe_area iframe {
    width: 808px;
    height: 591px;
}

.evolution {
    position: relative;
}

.evolution_image_area{
    position: relative;
    margin-top: 153px;
    margin-left: 88px;
}

.triangle_area {
    position: absolute;
    top: 94px;
    left: 86px;
}

.dots_area {
    position: absolute;
    top: 600px;
    left: -45px;
    z-index: -1;
}

.evolution_title_area {
    position: absolute;
    top: 50px;
    left: 704px;
}

.evolution_title_area h2 {
    color: #6C472D;
    text-decoration: underline;
    font-family: 'Bodoni 72';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.evolution_explain_area {
    position: absolute;
    top: 150px;
    left: 704px;
    width: 550px;
}

.evolution_explain_area p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
}

.conversions {
    text-align: center;
}

.conversions_title_area {
    margin-top: 155px;
}

.conversions_title_area h2 {
    color: #6C472D;
    text-decoration: underline;
    font-family: 'Bodoni 72';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.conversions_explain_area {
    margin: 41px auto;
    width: 1261px;
    text-align: left;
}

.conversions_explain_area p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
}

.conversions_table_area {
    margin-top: 81px;
}

.conversions_table_area table {
    margin: auto;
    border-spacing: 6px;
}

.conversions_table_area th {
    background-color: #D0B39F;
    border: 1px solid #737677;
    font-family: 'Bodoni 72';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 15px 15px;
}

.conversions_table_area td {
    border: 1px solid #737677;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    padding: 15px 15px;
}

.aboutTime_title_area {
    margin-top: 152px;
    margin-left: 89px;
}

.aboutTime_title_area h2 {
    color: #6C472D;
    text-decoration: underline;
    font-family: 'Bodoni 72';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.aboutTime_explain_area {
    margin-top: 41px;
    margin-left: 88px;
}

.aboutTime_explain_area p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 191.19%;
}

.brown {
    color: #6C472D;
    background-color: #E8E3E0;
    border-radius: 8px;
    padding: 5px 3px;
}

* {
    margin-bottom: 100px;
}