header {
    display: flex;
    align-items: center;
    gap: 120px;
}

.items_area {
    margin-top: 34px;
    margin-left: 44px;
}

.items_area ul {
    list-style: none;
    
}

.items_area li {
    display: inline;
    margin-right: 60px;
    font-family: 'Bodoni 72';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
}

.title_area {
    margin-top: 20px;
}

.title_area h1 {
    white-space: nowrap;
    font-family: 'Bodoni 72';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.title_image_area {
    margin-top: 32px;
}

.title_image_area img {
    max-width: 100%;
    height: auto;
}

.watch {
    position: relative;
}

.watch_image_area {
    margin-top: 190px;
    margin-left: 26px;
}

.watch_title_area {
    position: absolute;
    left: 724px;
    top: 50px;
}

.watch_title_area h2 {
    color: #6C472D;
    text-decoration: underline;
    font-family: 'Bodoni 72';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.watch_explain_area {
    position: absolute;
    left: 724px;
    top: 150px;
    max-width: 550px;
}

.watch_explain_area p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
}

.history {
    position: relative;
}

.history_title_area {
    margin-top: 420px;
    margin-left: 88px;
}

.history_title_area h2 {
    color: #6C472D;
    text-decoration: underline;
    font-family: 'Bodoni 72';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.history_explain_area {
    margin: 41px;
    margin-left: 92px;
    max-width: 490px;
}

.history_explain_area p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
}

.history_image_area {
    position: absolute;
    top: -300px;
    left: 703px;
}