body {
    background-image: url(./assets/background.jpg);
    background-size: cover;
    display: flex;
}

a {
    color: white;
    text-decoration: none;
}

.itemes_area {
    margin-left: 100px;
    margin-top: 70px; 
}

.itemes_area ul {
    background: linear-gradient(to bottom, #3399FF, #2C7CFF);
    list-style: none;
    border-radius: 5px;
    border: double 3px white;    
    padding: 20px 15px 20px 40px;
}

.itemes_area li {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

main {
    background-color: white;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 70px;
    margin-right: 200px;
    width: 65%;
}

.name {
    font-weight: bold;
}

.alphabet {
    text-decoration: underline;
}

.mark_italic {
    font-style: italic;
    background-color: #FFDBC9;
}

.mark {
    background-color: #FFDBC9;
}

@font-face {
    font-family: DynaPuff;
    src: url(./assets/DynaPuff-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./assets/Roboto-Regular.ttf);
}