body {
    background-image: url(./assets/background.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

a {
    color: white;
    text-decoration: none;
}

.nav{
    width: 22%;
}

.main{
    width: 78%;
}

.itemes_area {
    margin-left: 100px;
    margin-top: 70px; 
}

.itemes_area ul {
    background: linear-gradient(to bottom, #3399FF, #2C7CFF);
    list-style: none;
    border-radius: 5px;
    border: double 3px white;    
    padding: 20px 15px 20px 40px;
}

.itemes_area li {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

main {
    background-color: white;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 70px;
    margin-right: 200px;
    width: 80%;
    padding-bottom: 20px;
}

.title_area {
    margin-left: 15px;
    margin-top: 20px;
    
}

.title_area h1 {
    border-radius: 10px;
    background: linear-gradient(to right, #FFD5EC, red);
    color: white;
    white-space: nowrap;
    width: fit-content;
    padding: 7px 7px 7px 7px;
    font-family: DynaPuff;
}

.image_area {
    margin-left: 15px;
}

.image_area img {
    text-align: center;
    border: solid 1px orange;
    width: 760px; 
    box-shadow: 10px 7px 10px #CCCCCC;
}

.contents_area {
    margin:40px 15px 40px 15px;
}

.contents_area p{
    text-align: justify;
}

.contents_area img{
    height:20px;
    width: auto;
    vertical-align: middle;
}

.name {
    font-weight: bold;
}

.alphabet {
    text-decoration: underline;
}

.mark_italic {
    font-style: italic;
    background-color: #FFDBC9;
}

.mark_italic img {
    transform: skew(345deg);
}

.mark {
    background-color: #FFDBC9;
}

.table_area {
    background-color: #CCFFFF;
    margin-left: 15px;
    width: 735px;
    border: 2px solid #FF3333;
    border-radius: 7px;
    padding: 10px 10px 13px 10px;
}

.table_area th {
    text-align: center;
    font-size: 12px;
}

.table_area td {
    border-radius: 5px;
    font-size: 10px;
    background-color: white;
    border: 1px solid gray;
}


.relative {
    position: relative;
}

#absolute {
    position: absolute;
    top: -80px;
}

.footer_area{
    text-align: center;
    display: block;
    flex-wrap: wrap;
    margin-left: 700px;
}

.footer_area p {
    font-size: 10px;
}

.blue_line{
    color: #3366FF;
    text-decoration: underline;
}

@font-face {
    font-family: DynaPuff;
    src: url(./assets/DynaPuff-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./assets/Roboto-Regular.ttf);
}