header {
    display: flex;
    gap: 180px;
}

.left_items_area {
    /* flex-grow: 1; */
    margin-top: 80px;
    margin-left: 100px;
    white-space: nowrap;
}

.right_items_area {
    /* flex-grow: 1; */
    margin-top: 80px;
    margin-right: 100px;
    white-space: nowrap;
}

.icon_title_area {
    /* flex-grow: 1; */
    margin-top: 20px;
    white-space: nowrap;
    text-align: center;
}

header ul {
    display: flex;
    list-style: none;
    gap: 50px;
    text-align: center;
}

header li {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Bodoni 72';
}

.icon_title_area h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.1em;
    font-family: 'Bodoni 72';
}

.icon_title_area p {
    font-weight: 400;
    font-size: 16px;
    line-height: 132.2%;
    font-family: 'Roboto';
}

.top_area {
    position: relative;
    margin-top: 22px;
}

.top_image_area {
    text-align: center;
}

.top_image_area img {
    width: 100%;
    height: auto;
}

.title_area {
    position: relative;
    left: 147px;
    top: -127px;
    padding-top: 50px;
    padding-left: 35px;
    background-color: #F5F4F2;
    border: 7px solid #FFFFFF;
    width: 573px;
    height: 303px;
}

.title_area p {
    font-weight: 400;
    font-size: 14px;
    line-height: 128.2%;
    letter-spacing: 0.1em;
    font-family: 'Bodoni 72';
}

.title_area hr {
    border: solid 4px #D5D4BB;
    width: 37.5px;
    margin-left: 0;
}

.title_area h1 {
    font-weight: 400;
    font-size: 54px;
    line-height: 132.2%;
    letter-spacing: 0.08em;
    font-family: 'Bodoni 72';
}




