header {
    display: flex;
    gap: 180px;
}

.left_items_area {
    /* flex-grow: 1; */
    margin-top: 80px;
    margin-left: 100px;
    white-space: nowrap;
}

.right_items_area {
    /* flex-grow: 1; */
    margin-top: 80px;
    margin-right: 100px;
    white-space: nowrap;
}

.icon_title_area {
    /* flex-grow: 1; */
    margin-top: 20px;
    white-space: nowrap;
    text-align: center;
}

header ul {
    display: flex;
    list-style: none;
    gap: 50px;
    text-align: center;
}

header li {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Bodoni 72';
}

.icon_title_area h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.1em;
    font-family: 'Bodoni 72';
}

.icon_title_area p {
    font-weight: 400;
    font-size: 16px;
    line-height: 132.2%;
    font-family: 'Roboto';
}

.top_area {
    position: relative;
    margin-top: 22px;
}

.top_image_area {
    text-align: center;
}

.top_image_area img {
    width: 100%;
    height: auto;
}

.title_area {
    position: relative;
    left: 147px;
    top: -127px;
    padding-top: 50px;
    padding-left: 35px;
    background-color: #F5F4F2;
    border: 7px solid #FFFFFF;
    width: 573px;
    height: 303px;
}

.title_area p {
    font-weight: 400;
    font-size: 14px;
    line-height: 128.2%;
    letter-spacing: 0.1em;
    font-family: 'Bodoni 72';
}

.title_area hr {
    border: solid 4px #D5D4BB;
    width: 37.5px;
    margin-left: 0;
}

.title_area h1 {
    font-weight: 400;
    font-size: 54px;
    line-height: 132.2%;
    letter-spacing: 0.08em;
    font-family: 'Bodoni 72';
}

.love_modern {
    position: relative;
}

.love_modern_title_area {
    padding-top: 60px;
    margin-left: 222px;
}

.love_modern_title_area h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 132.2%;
    letter-spacing: 0.08em;
    font-family: 'Bodoni 72';
}

.love_modern_explain_area {
    margin-top: 48px;
    margin-left: 222px;
}

.love_modern_explain_area p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 132.2%;
}

.love_modern_image_area {
    position: absolute;
    left: 890px;
    top: 20px;
}

.love_modern_image_area img {
    border: 3px solid #ECE8E2;
    padding: 12px;  
}

.big_image {
    margin-top: 215px;
}

.big_image img {
    width: 100%;
    height: auto;
}

.small_images {
    position: relative;
    margin-top: 140px;
    height: 1010px;
}

.left_top_image {
    position: absolute;
    left: 204px;
}

.center_top_image {
    position: absolute;
    left: 557px;
}

.right_top_image {
    position: absolute;
    left: 909px;
}

.left_middle_image {
    position: absolute;
    left: 204px;
    top: 410px;
}

.center_middle_image {
    position: absolute;
    left: 557px;
    top: 315px;
}

.center_right_image {
    position: absolute;
    left: 909px;
    top: 410px;
}

.left_bottom_image {
    position: absolute;
    left: 204px;
    top: 635px;
}

.center_bottom_image {
    position: absolute;
    left: 557px;
    top: 725px;
}

.right_bottom_image {
    position: absolute;
    left: 909px;
    top: 635px;
}

.camera_area {
    position: absolute;
    top: 475px;
    left: 690px;
}

footer {
    position: relative;
    background-color: #F5F4F2;
    margin-top: 150px;
    height: 413px;
}

.footer_icon_area {
    position: absolute; 
    left: 396px;
    top: 77px;
    text-align: center;
}

.footer_icon_area h3 {
    font-family: 'Bodoni 72';
    font-weight: 400;
    font-size: 16px;
    line-height: 128.2%;
    letter-spacing: 0.1em;
}

.footer_icon_area p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    line-height: 132.2%;
}

.tellphone_area {
    position: absolute;
    top: 213px;
    left: 204px;
    text-align: right;
}

.tellphone_area p {
    font-family: 'Bodoni 72';
    font-weight: 400;
    font-size: 16px;
    line-height: 128.2%;
    letter-spacing: 0.1em;
}

.address_area {
    position: absolute;
    top: 213px;
    left: 463px;
}

.address_area p {
    font-family: 'Bodoni 72';
    font-weight: 400;
    font-size: 16px;
    line-height: 128.2%;
    letter-spacing: 0.1em;
}

.map_area {
    position: absolute;
    top: 77px;
    left: 746px;
}

.map_area iframe {
    border: 6px solid #FFFFFF;
    width: 475px;
    height: 238px;
}

