body {
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.items_area {
    text-align: center;
    margin-top: 20px;
}

.items_area ul{
    background-color: #0099FF;
    width: 55%;
    margin: auto;    
}

.items_area li {
    display: inline-block;
    color: aliceblue;
    font-size: 11px;
    padding: 20px 10px; 
}

.title_area {
    margin-top: 30px;
    margin-left: 290px;
}

h1 {
    border: solid 2px #CC66FF;
    background: linear-gradient(to right, aliceblue, #CC66CC);
    text-align: center;
    width: 300px;
}

.contents_area{
    margin-top: 20px;  
    width: 55%;
    margin:auto;
}

.back_1 {
    padding: 10px;
    background-image: url(./assets/back1.png);
    background-size: cover;
    font-weight: bold;
    background-repeat: no-repeat;
}

.back_2 {
    padding:10px;
    background-image: url(./assets/back2.png);
    background-size: cover;
    font-weight: bold;
    background-repeat: no-repeat;
}

.back_3 {
    padding:10px;
    background-image: url(./assets/back3.png);
    background-size: cover;
    font-weight: bold;
    background-repeat: no-repeat;
}

.back_4 {
    padding:10px;
    background-image: url(./assets/back4.png);
    background-size: cover;
    font-weight: bold;
    background-repeat: no-repeat;
}

.back_5 {
    padding:10px;
    background-image: url(./assets/back5.png);
    background-size: cover;
    font-weight: bold;
    background-repeat: no-repeat;
}

.art {
    font-style:italic;
    text-decoration: underline;
}

.red_line {
    color: red;
    text-decoration: underline;
}

.image_area {
    text-align: center;
}

.image_area img{
    width:55%;
    height: auto;
    border-radius: 10px;
    border: 5px solid #FFFFFF;
}


